{
    "rules": {
        "indent": [
             2,
             2
        ],
        "quotes": [
            1,
            "single"
        ],
        "linebreak-style": "off",
        "no-console": 0,
        "semi": [
            2,
            "always"
        ]
    },
    "env": {
        "es6": false,
        "browser": true,
        "commonjs": true
    },
    "extends": "eslint:recommended",
    "ecmaFeatures": {
        "experimentalObjectRestSpread": true,
        "modules": true
    },
    "globals": {
      "require": true
    },
    "parserOptions": {
        "sourceType": "module"
    }
}
