
.icon-cog-outline:before { content: '\e800'; } /* '' */
.icon-cross:before { content: '\e801'; } /* '' */
.icon-download:before { content: '\e802'; } /* '' */
.icon-arrow:before { content: '\e803'; } /* '' */
.icon-trash:before { content: '\e804'; } /* '' */
.icon-text:before { content: '\e805'; } /* '' */
.icon-selection:before { content: '\e806'; } /* '' */
.icon-image:before { content: '\e807'; } /* '' */
.icon-glass:before { content: '\e808'; } /* '' */
.icon-grid:before { content: '\e809'; } /* '' */
.icon-doc:before { content: '\e80a'; } /* '' */
.icon-floppy:before { content: '\e80b'; } /* '' */
.icon-target:before { content: '\e80c'; } /* '' */
.icon-code:before { content: '\e80d'; } /* '' */
.icon-wrench:before { content: '\e80e'; } /* '' */
.icon-cancel:before { content: '\e80f'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-mouse-pointer:before { content: '\f245'; } /* '' */